<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 md:gap-x-10 gap-y-16 px-4 md:px-8 lg:px-20 w-full md:w-10/12 mx-auto py-20 xl:justify-items-center">
  <div class="relative h-96 md:h-96 xl:w-8/12 w-11/12 rounded-[25px] mb-4 md:mb-0 md:pr-2">
    <div class="absolute h-full w-full rounded-[25px] bg-primary-rendivalores opacity-100"></div>
    <div class="absolute left-6 top-6 xl:top-8 xl:left-8 inset-1 md:inset-2.5 h-full w-full rounded-[25px] bg-tertiary-rendivalores opacity-100"></div>
    <div class="absolute left-4 top-2 inset-2 md:inset-4 h-full w-full rounded-[25px] bg-cover bg-center opacity-100" style="background-image: url('assets/images/orientacion.png')"></div>
  </div>

  <div class="space-y-4 md:space-y-6 md:pl-2">
    <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-2xl md:text-3xl font-bold text-primary-rendivalores">
      Orientación
    </h1>
    <p class="text-gray-500 text-sm md:text-base md:w-8/12 text-justify">
      Maximizar el rendimiento de los fondos excedentarios (ahorros) de nuestros clientes, ofreciéndoles un servicio especializado que tiene como finalidad satisfacer sus necesidades financieras, de una manera profesional, transparente y segura
    </p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 md:gap-x-10 gap-y-16 px-4 md:px-8 lg:px-20 w-full md:w-10/12 mx-auto xl:py-20 xs:py:1">
  <div class="space-y-4 md:space-y-6 md:pr-2 xl:pl-24">
    <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-2xl md:text-3xl font-bold text-primary-rendivalores">
      Mercado
    </h1>
    <p class="text-gray-500 text-sm md:text-base md:w-8/12 text-justify">
      Contamos con un equipo de profesionales de alta trayectoria y experiencia que nos permite participar de manera activa y eficiente en el mercado de valores venezolano y superar los estándares de calidad de servicio
    </p>
  </div>

  <div class="relative h-96 md:h-96 xl:w-8/12 w-11/12 rounded-[25px] mt-4 md:mt-0 md:pl-2">
    <div class="absolute h-full w-full rounded-[25px] bg-primary-rendivalores opacity-100"></div>
    <div class="absolute left-6 top-6 xl:top-8 xl:left-8 inset-1 md:inset-2 h-full w-full rounded-[25px] bg-tertiary-rendivalores opacity-100"></div>
    <div class="absolute left-2 top-4 inset-2 md:inset-4 h-full w-full rounded-[25px] bg-cover bg-center opacity-100" style="background-image: url('assets/images/mercado.png')"></div>
  </div>
</div>
