<app-header [activeKey]="'open-capital'"></app-header>
<app-open-capital-banner></app-open-capital-banner>
<app-open-capital-about></app-open-capital-about>
<app-open-capital-starter-links></app-open-capital-starter-links>
<app-fondo-mutual-description></app-fondo-mutual-description>
<app-open-capital-benefits></app-open-capital-benefits>
<app-open-capital-financial-information></app-open-capital-financial-information>
<app-open-capital-frequently-asked-questions></app-open-capital-frequently-asked-questions>
<app-footer></app-footer>
