<div class="w-11/12 xl:w-9/12 mx-auto mt-20">
  <div class="flex flex-col sm:flex-row">
    <div class="sm:w-1/2 p-4">
      <img class="xl:h-[600px] h-96 mx-auto" src="./assets/images/mobile-app.png" alt="">
    </div>
    <div class="sm:w-1/2 p-4">
      <p class="xl:mt-20 underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores">
        Rendivalores Móvil - App
      </p>

      <p class="mt-10 text-gray-500 text-justify">
        Con el objetivo de acercar el Mercado de Valores Venezolano a ti, somos la primera Casa de Bolsa Venezolana con aplicación móvil propia. Desarollamos Rendivalores Movil con la cual podrás conocer toda la información que necesitas sobre la Bolsa de Valores de Caracas, como cotización al momento de las acciones y acceso a tu portafolio para que puedas consultar el valor actual de tus inversiones para que tomes las decisiones financieras mas acertadas. Disponible en Apple App Store y Google Play Store.
      </p>

      <div class="grid md:grid-cols-2 gap-4 w-8/12 mt-10 mx-auto">
        <a href="https://play.google.com/store/apps/details?id=synergy.vision.rendivalores.app" target="_blank">
          <img src="./assets/images/googleplay.png" class="md:w-auto w-full mx-auto" alt="Google Play">
        </a>
        <a href="https://apps.apple.com/us/app/rendivalores/id1246883532?l=es&ls=1" target="_blank">
          <img src="./assets/images/appstore.png" class="md:w-auto w-full mx-auto" alt="App Store">
        </a>
      </div>
    </div>
  </div>
</div>
