<h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores mt-20">
  Productos y Servicios
</h1>
<p class="text-gray-500 text-center mt-10">
  Ofrecemos una amplia gama de productos y servicios, tanto para personas naturales (pequeños inversionistas), <br> PYMES, Cajas de Ahorro y Fondos de Ahorro, Fideicomisos Bancarios, Compañías de Seguro y Reaseguro tanto del Sector Público como el Privado
</p>
<div class="w-full h-[640px] mt-20">
  <swiper-container class="mySwiper" pagination="true" pagination-type="progressbar"  autoplay-delay="2500" navigation="true" slides-per-view="1">

    <swiper-slide>
      <div class="background" style="background-image: url('./assets/images/services-carrousel/1.png');">
        <div class="overlay">
          <div class="flex flex-col items-center justify-center h-full">
            <p class="text-3xl xl:text-5xl mb-4 font-bold text-white">
              Rendivalores Casa de Bolsa C.A
            </p>
            <p class="xl:text-2xl text-white w-2/3">
              Brindamos a nuestros clientes una amplia variedad de productos y servicios de alta calidad diseñados a su medida de acuerdo a sus necesidades de inversión o financiamiento
            </p>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="background" style="background-image: url('./assets/images/services-carrousel/2.jpg');">
        <div class="overlay">
          <div class="flex flex-col items-center justify-center h-full">
            <p class="text-3xl xl:text-5xl mb-4 font-bold text-white">
             Casa de Bolsa Agrícola
            </p>
            <p class="xl:text-2xl text-white w-2/3">
              ¡Entendemos el Campo Venezolano! Conectamos el Campo con el Mercado de Valores.
            </p>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="background" style="background-image: url('./assets/images/services-carrousel/3.jpg');">
        <div class="overlay">
          <div class="flex flex-col items-center justify-center h-full">
            <p class="text-3xl xl:text-5xl mb-4 font-bold text-white">
              Rendivalores Fondo Mutual de Capital Cerrado C.A.
            </p>
            <p class="xl:text-2xl text-white w-2/3">
              ¡Invierte como los grandes! El Mercado de Valores a tu alcance!
            </p>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="background" style="background-image: url('./assets/images/services-carrousel/4.jpg');">
        <div class="overlay">
          <div class="flex flex-col items-center justify-center h-full">
            <p class="text-3xl xl:text-5xl mb-4 font-bold text-white">
              Rendivalores Fondo Mutual de Capital Abierto C.A.
            </p>
            <p class="xl:text-2xl text-white w-2/3">
              ¡Deja el trabajo a nuestro equipo de profesionales quienes administran tu inversión por ti!
            </p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
