<div class="w-full h-dvh">
  <swiper-container class="mySwiper" pagination="true" pagination-type="progressbar" navigation="true">
    <swiper-slide>
      <div class="background" style="background-image: url('./assets/images/torre.jpg');">
        <div class="overlay">
          <div class="flex flex-col items-center justify-center h-full">
<!--            <div class="h-20 mb-5">-->
<!--              <img style="width: auto" src="/assets/images/p_rendivalores.png" alt="">-->
<!--            </div>-->
            <p class="text-3xl xl:text-6xl mb-4 font-bold text-white uppercase">
              Bienvenidos a RENDIVALORES
            </p>
            <p class="xl:text-2xl font-medium text-white">
              Miembro de la Bolsa de Valores de Caracas
            </p>
<!--            <div class="flex flex-col sm:flex-row mt-10">-->
<!--              <button class="w-56 sm:w-60 px-4 py-2 border-2 border-white bg-none text-white rounded-full mb-4 sm:mb-0 sm:mr-2 hover:bg-primary-rendivalores">Login</button>-->
<!--              <button class="w-56 sm:w-60 px-4 py-2 bg-primary-rendivalores text-white rounded-full hover:bg-primary-hover">-->
<!--                Hazte Cliente-->
<!--              </button>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
