<app-header [activeKey]="'close-capital'"></app-header>
<app-close-capital-banner></app-close-capital-banner>
<app-close-capital-about></app-close-capital-about>
<app-close-capital-conformed></app-close-capital-conformed>
<app-fondo-mutual-cerrado></app-fondo-mutual-cerrado>
<app-fondo-mutual-cerrado-description></app-fondo-mutual-cerrado-description>
<app-open-capital-starter-links></app-open-capital-starter-links>
<app-open-capital-financial-information></app-open-capital-financial-information>
<app-close-capital-faq></app-close-capital-faq>
<app-footer></app-footer>
