<div class="bg-gradient-to-bl from-gradient-green-start to-gradient-green-end p-14 h-auto sm:p-0 lg:p-20 text-justify">
  <h1 class="underline underline-offset-8 decoration-white text-3xl font-bold text-white text-center">
    Ventajas
  </h1>

  <div class="flex flex-col sm:flex-row justify-center items-center xl:items-baseline space-y-6 sm:space-y-0 sm:space-x-6 mt-10">
    <div class="xl:w-3/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 xl:h-80 h-auto">
      <img class="h-20 mx-auto mb-10" src="./assets/icons/icon_13.svg" alt="passion attribute icon">
      <p class="text-white text-base text-center font-bold">
        Administración Profesional
      </p>
      <p class="text-white mt-2 text-sm">
        Los recursos son manejados por profesionales que monitorean y analizan el mercado de manera de aprovechar oportunidades y optimizar la rentabilidad del mercado.
      </p>
    </div>

    <div class="xl:w-3/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 xl:h-80 h-auto">
      <img class="h-20 mx-auto mb-10" src="./assets/icons/icon_14.svg" alt="passion attribute icon">
      <p class="text-white text-base text-center font-bold">
        Diversificación
      </p>
      <p class="text-white mt-2 text-sm">
        La Diversificación que ofrecen estos instrumentos de inversión permite reducir y generar el mayor rendimiento ajustado por riesgo.
      </p>
    </div>
    <div class="xl:w-3/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 xl:h-80 h-auto">
      <img class="h-20 mx-auto mb-10" src="./assets/icons/icon_15.svg" alt="passion attribute icon">
      <p class="text-white text-base text-center font-bold">
        Supervisión y Regulación
      </p>
      <p class="text-white mt-2 text-sm">
        Todas las sociedades administradoras y todos los fondos mutuos están supervisados y regulados por la Superintendencia Nacional de Valores.
      </p>
    </div>
    <div class="xl:w-3/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 xl:h-80 h-auto">
      <img class="h-20 mx-auto mb-10" src="./assets/icons/icon_16.svg" alt="passion attribute icon">
      <p class="text-white text-base text-center font-bold">
        Fiscal
      </p>
      <p class="text-white mt-2 text-sm">
        Ofrece una ventaja fiscal atractiva, debido a que las personas naturales están exentas del pago del impuesto sobre la renta de acuerdo al enriquecimiento que obtengan a través del fondo mutual.
      </p>
    </div>
  </div>
</div>

<div class="mt-10 mb-10 w-full md:w-10/12 mx-auto text-justify">
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores text-center">
    ¿Hay algunas diferencias entre los fondos mutuales?
  </h1>

  <p class="text-gray-500 mt-10 font-thin">
    Generalmente los fondos mutuales se diferencian de acuerdo al objetivo de inversión, potencial de riesgo y rendimientos que ofrecen. Es usual encontrar los que se enfocan en instrumentos de renta fija, como los papeles comerciales, bonos y obligaciones. De la misma manera están los que se enfocan solamente en renta variable, invirtiendo en acciones que cotizan en las bolsas de valores. Y por último están los fondos mixtos, que tienen como objetivo diversificar su inversión en los sectores de renta fija y renta variable. <b>Rendivalores Fondo Mutual de Inversión será un Fondo Mixto</b>.
  </p>
</div>

<div class="bg-gray-200 text-justify">
  <div class="pt-10 pb-10 w-full md:w-10/12 mx-auto">
    <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores text-center">
      Filosofía de Inversión de Rendivalores Fondo Mutual
    </h1>

    <p class="text-gray-500 mt-10 font-thin">
      El Comité de Inversión de Rendivalores Fondo Mutual basará su filosofía de inversión en la importancia de las ventajas competitivas de las empresas. Como gestores del fondo, y dada la poca profundidad que ofrece actualmente el Mercado Bursátil venezolano, la idea principal de nuestras decisiones estarán enfocadas en empresas que sean líderes en sus sectores, que cuenten con una ventaja competitiva sostenible en el largo plazo y que además estén administradas por un equipo gerencial honesto y alineado con los objetivos de sus accionistas.
    </p>
    <br>
    <p class="text-gray-500 font-thin">
  Nuestro mayor deseo es tomar posición en empresas que cumplan con estos requerimientos, dado que históricamente hablando, si alineamos una simbiosis eficiente entre empresas de calidad adquiridas a un gran precio, lo más probable es que alcancemos el objetivo común de grandes rentabilidades para nuestros inversionistas. Asimismo, somos conscientes de la severa crisis que atraviesa el país, pero a pesar de ello, abogamos a que poco a poco se vayan realizando cambios estructurales en la dinámica económica en el país que le permita a las empresas, que formen parte del fondo, volver a ser rentables y ofrecerle estos dividendos a sus accionistas.
    </p>
  </div>
</div>



