<div class="mt-10 mb-10 w-full md:w-10/12 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8 md:gap-10 p-2 md:p-0 items-center justify-items-center">

      <div class="relative p-2 md:p-4 rounded-[25px] text-justify">
        <!-- Título -->
        <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-2xl sm:text-3xl font-bold text-primary-rendivalores text-center">
            Recaudos para abrir una cuenta
        </h1>

        <!-- Lista -->
        <ul class="mt-6 sm:mt-8 space-y-4">

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light"> Banco  Registro de Información Fiscal (RIF), vigente.
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light"> Cédula de Identidad y Registro de Información Fiscal.
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light"> Registro de Información Fiscal (RIF) vigente del representante legal de la persona jurídica.
            </p>
          </li>


          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light">  Documento constitutivo y las modificaciones estatutarias; en caso de persona jurídica no domiciliada en el país, los documentos y poderes de sus representantes legales debidamente legalizados y traducidos al idioma castellano por un intérprete público.
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light">  Acta de asamblea donde conste la elección de la junta directiva actual, sin que se encuentre vencido su periodo lectivo.
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light"> Una (1) Referencia Bancaria, con una vigencia mínima de tres meses.
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light" > Balance General de la persona jurídica correspondiente al último cierre económico.
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover text-sm sm:text-base font-light">  Planilla de Declaración jurada de Origen y Destino de los Fondos, cada vez que realice una operación.
            </p>
          </li>
        </ul>
      </div>


    <div class="relative mx-auto sm:w-auto px-4 py-2">
      <img class="rounded-xl shadow-xl scale-75" src="assets/images/Fondo-agricola-3.png" alt="">
    </div>
    </div>
</div>
