<div class="w-11/12 xl:w-10/12 mx-auto xl:mt-10 mt-1 mb-10 text-justify">
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores text-center">
    ¿Hay alguna diferencia entre los fondos mutuales?
  </h1>

  <p class="text-gray-500 mt-10 font-thin lg:px-10">
    Los fondos mutuales son un tipo de inversión colectiva que reúne el dinero de un grupo de personas para invertirlo en una variedad de activos, como acciones, bonos, materias primas o bienes raíces.
    Los fondos mutuales pueden ser abiertos o cerrados, y cada tipo tiene sus propias características y ventajas.
  </p>
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end p-14 sm:pl-0 lg:pl-20">
    <p class="text-white font-semibold text-center">Fondos mutuales abiertos</p>
    <br>
    <div class="bg-white/40 backdrop-blur-[100px] xl:h-60 h-auto rounded-2xl p-10">

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        Los fondos mutuales abiertos son los más comunes. Emiten nuevas acciones constantemente, y los inversionistas pueden comprar o vender acciones a cualquier momento. El precio de las acciones de un fondo mutual abierto se basa en el valor neto de sus activos, que es el valor total de los activos del fondo dividido por el número de acciones en circulación.
      </p>
    </div>
  </div>


  <div class="bg-gradient-to-b from-gradient-green-start to-gradient-green-end p-14 sm:pr-0 lg:pr-20">
    <p class="text-white font-semibold text-center">Los fondos mutuales cerrados</p>
    <br>
    <div class="bg-white/40 backdrop-blur-[100px] xl:h-60 h-auto  rounded-2xl p-10">

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        Los fondos mutuales cerrados emiten un número limitado de acciones cuando se crean y no realizan emisiones adicionales ni recompras. Las acciones de un fondo mutual cerrado se negocian en una bolsa de valores, como si fueran acciones ordinarias. El precio de las acciones de un fondo mutual cerrado se determina por las fuerzas de la oferta y la demanda, y no necesariamente por el valor neto de sus activos.
      </p>
    </div>
  </div>
</div>

<div class="w-11/12 xl:w-10/12 mx-auto xl:mt-10 mt-10 mb-10 lg:px-10 text-justify">
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores text-center">
    Filosofía de Inversión de Rendivalores Fondo Mutual
  </h1>

  <p class="text-gray-500 mt-10 font-thin">
    El Comité de Inversión de Rendivalores Fondo Mutual basará su filosofía de inversión en la importancia de las ventajas competitivas de las empresas. Como gestores del fondo, y dada la poca profundidad que ofrece actualmente el Mercado Bursátil venezolano, la idea principal de nuestras decisiones estarán enfocadas en empresas que sean líderes en sus sectores, que cuenten con una ventaja competitiva sostenible en el largo plazo y que además estén administradas por un equipo gerencial honesto y alineado con los objetivos de sus accionistas.
  </p>

  <p class="text-gray-500 mt-10 font-thin">
    Nuestro mayor deseo es tomar posición en empresas que cumplan con estos requerimientos, dado que históricamente hablando, si alineamos una simbiosis eficiente entre empresas de calidad adquiridas a un gran precio, lo más probable es que alcancemos el objetivo común de grandes rentabilidades para nuestros inversionistas. Asimismo, somos conscientes de la severa crisis que atraviesa el país, pero a pesar de ello, abogamos a que poco a poco se vayan realizando cambios estructurales en la dinámica económica en el país que le permita a las empresas, que formen parte del fondo, volver a ser rentables y ofrecerle estos dividendos a sus accionistas.
  </p>
</div>
