<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end p-14 sm:pl-0 lg:pl-20">
    <p class="text-white font-semibold text-center">¿Quieres empezar a invertir en la Bolsa de Valores a través <br> de nuestro Fondo Mutual? </p>
    <br>

    <div class="bg-white/40 backdrop-blur-[100px] xl:h-60 h-auto rounded-2xl p-10">

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Modelo de Carta de Suscripción Persona Jurídica</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores">
          <a href="assets/pdfs/FM_Abierto/Modelo-Carta-Suscripcion-Unidad-Inversion-P-Juridica.docx" target="_blank">Descargar</a>
        </button>
      </p>

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Modelo de Carta de Suscripción Persona Natural</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores mt-2 sm:mt-0">
          <a href="assets/pdfs/FM_Abierto/Modelo-Carta-Suscripcion-Unidad-Inversion-P-Natural-Casado.docx" target="_blank">Descargar</a>
        </button>
      </p>
    </div>
  </div>


  <div class="bg-gradient-to-b from-gradient-green-start to-gradient-green-end p-14 sm:pr-0 lg:pr-20">
    <p class="text-white font-semibold text-center">¡Apertura tu cuenta con nosotros!</p>
    <br><br>
    <div class="bg-white/40 backdrop-blur-[100px] xl:h-60 h-auto  rounded-2xl p-10">

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Carta Poder</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores">
          <a href="assets/pdfs/FM_Abierto/CARTA-poder-fm.pdf" target="_blank">Descargar</a>
        </button>
      </p>

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Ficha Única de Identificación del Inversionista</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores">
          <a href="assets/pdfs/FM_Abierto/Ficha_unicaFM.pdf" target="_blank">Descargar</a>
        </button>
      </p>

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Recaudos Fondo Mutual</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores">
          <a href="assets/pdfs/FM_Abierto/Requisitos-Rendivalores-FondoMutual.pdf" target="_blank">Descargar</a>
        </button>
      </p>

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-center">Declaración Jurada</span>
        <button class="w-32 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-primary-rendivalores">
          <a href="assets/pdfs/FM_Abierto/Declaracion-Jurada-PN-FM-editable-002Nuevo.pdf" target="_blank">Descargar</a>
        </button>
      </p>

    </div>
  </div>
</div>