<div class="mt-24 mb-10 w-full md:w-10/12 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8 p-2 md:p-0">

    <div class="relative mx-auto sm:w-auto px-4 py-2">
      <img class="rounded-xl shadow-xl h-96" src="assets/images/Fondo-agricola-2.png" alt="">
    </div>

      <div class="relative p-2 md:p-4 text-justify">
        <!-- Título -->
        <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-2xl sm:text-3xl font-bold text-primary-rendivalores text-center">
            ¿Por qué invertir con nosotros?
        </h1>

        <p class="text-gray-500 font-light mt-8"> Rendivalores Casa de Bolsa de Productos Agrícolas forma parte de Grupo Rendivalores, un conglomerado con 28 años de trayectoria exitosa en el Mercado de Valores Venezolano.</p>

        <!-- Lista -->
        <ul class="xl:mt-10 mt-5 space-y-4">

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Una trayectoria llena de éxitos apoyando a nuestros clientes.</p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Con comisiones atractivas, pensadas para brindar facilidades a nuestros clientes.</p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Las operaciones realizadas a través de una Bolsa de Valores.</p>
          </li>
        </ul>
      </div>
    </div>
</div>
