<div class="mt-10 mb-10 w-full md:w-10/12 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8 md:gap-10 p-2 md:p-0 items-center justify-items-center">

    <div class="relative p-2 md:p-4 rounded-[25px] text-justify">
        <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores">
          ¿Quiénes Somos?
        </h1>
        <p class="text-sm md:text-sm mt-5 text-gray-500">
          <b>Rendivalores Casa de Bolsa de Productos Agrícolas</b> es una sociedad mercantil constituida en el año 2020, debidamente autorizada por la Superintendencia Nacional de Valores, bajo la Providencia N° 126, donde se nos autorizó para actuar en los mercados primarios y secundarios del mismo sector. Desde diciembre de 2022, poseemos un puesto en la Bolsa de Productos e Insumos Agrícolas (Bolpriaven) identificado con el N° 6.
        </p>


      <p class="mt-6 font-semibold text-sm md:text-lg text-gray-700 md:text-left text-center">Bancos Aliados</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
        <ul class="mt-4 space-y-2 text-sm md:text-base text-gray-600">
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Nacional de Crédito</p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Bancaribe
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banplus
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco Plaza
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco Exterior
            </p>
          </li>

          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-primary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco Activo
            </p>
          </li>
        </ul>
        <ul class="mt-2 space-y-2 text-sm md:text-base text-gray-600">
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco Mercantil
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco Fondo Común
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco del Tesoro
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Banco de Venezuela
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Bancamiga
            </p>
          </li>
          <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
            <i class="material-icons text-secondary-rendivalores mr-1">check</i>
            <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover"> Banco Bancrecer
            </p>
          </li>
        </ul>
      </div>


    </div>

  <div class="relative mx-auto sm:w-auto px-4 py-2">
    <img class="rounded-xl shadow-xl border-2 border-primary-rendivalores h-[30rem]" src="assets/images/Fondo-agricola-1.png" alt="">
  </div>
</div>

  <div class="xl:my-20 my-10">
    <h1 class="text-3xl text-center font-bold text-primary-rendivalores">
      Junta Directiva
    </h1>
    <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center text-primary-rendivalores">
      Período 2025 - 2027
    </h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6 mx-auto mt-10 h-full w-11/12 xl:w-10/12 px-2 sm:px-0">
      <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-auto w-full p-4">
        <div class="mb-10 pt-4 mx-4">
          <p class="text-white text-lg font-bold">Juan Domingo Cordero Osorio</p>
          <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
          <p class="text-sm text-white mt-4">
            Abogado (UCAB) 2014, con especializaciones en Derecho Corporativo (UNIMET) 2015 y Derecho Mercantil (UCAB) 2021. Corredor Público de Títulos Valores, Corredor de Bolsa de Productos Agrícolas y Asesor de Inversión autorizado por la SUNAVAL. Corredor de Seguros autorizado por la SUDEASEG. Director Suplente Junta Directiva Asociación Nacional Operadores de Valores (Periodo 2019-2021) Vicepresidente de la Camara Nacional de Intermediarios del Mercado de Valores CANIMEV (Periodo 2021-2023). Presidente de CANIMEV (Periodo 2023 - 2025). Director Suplente Junta Directiva Bolsa de Productos e Insumos Agropecuarios de Venezuela C.A. BOLPRIAVEN (Periodo 2023-2025). Presidente de Rendivalores Fondo Mutual de Capital Abierto C.A. y Presidente de Rendivalores Casa de Bolsa C.A. jdcorderoo&#64;rendivalores.com
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-[25px] opacity-100 backdrop-blur-lg h-auto w-full p-4">
        <div class="mb-10  pt-4 mx-4">
          <p class="text-white text-lg font-bold">Simón Cordero</p>
          <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
          <p class="text-sm text-white mt-4">
            Licenciado en Administración de Empresa mención Finanzas egresado de Pace University en la ciudad de Nueva York, Estados Unidos. Corredor Público de Valores y Vicepresidente de Negocios de Rendivalores Casa de Bolsa, C.A desde el 2014.
            Vicepresidente de Rendivalores Casa de Bolsa y Presidente de la Junta Directiva de Grupo Rendivalores.
            scordero&#64;rendivalores.com
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-80 w-full p-4">
        <div class="mb-10  pt-4 mx-4">
          <p class="text-white text-lg font-bold">Oscar Doval</p>
          <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
          <p class="text-sm text-white mt-4">
            Médico Psiquiatra con especialización en desarrollo de organizaciones de la Universidad de Chicago. Experto en consultoría financiera estratégica y de gobierno corporativo. Ha participado en formación, desarrollo y fusiones de empresas en América Latina y Europa. Experiencia corporativa en banca y finanzas y consultoría por más de 30 años.
            Presidente de Rendivalores Casa de Bolsa de Productos Agricolas.
            odoval&#64;mooregsf.com
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-80 w-full p-4">
        <div class="mb-10  pt-4 mx-4">
          <p class="text-white text-lg font-bold">Daniel Berconsky</p>
          <p class="text-white border-b-4 border-white pb-2">Director Suplente</p>
          <p class="text-sm text-white mt-4">
            Licenciado en Administración de Empresas de la Universidad Metropolitana, con estudios de negocios en la Universidad de Liverpool y diplomado en Ingeniería Financiera de la UNIMET.
             
            Más de 5 años de experiencia en gestión e implementación de proyectos de Planificación Estratégica, Análisis de Entorno y Consultoría Financiera en América Latina. Actualmente es Socio de la consultora MooreGsf  y CFO de Alalza Inversiones C.A
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
