<div class="w-11/12 xl:w-9/12 mx-auto mt-20">
  <div class="flex flex-col sm:flex-row">
    <div class="sm:w-1/2 p-4">
      <p class="mt-10 underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores">
        Apertura de Cuenta
      </p>

      <ul class="mt-10">
        <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-1">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Requisitos Apertura cuenta a inversores Persona Natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Requisitos Apertura cuenta a inversores persona jurídica</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Planilla de inversionista para persona natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Planilla de inversionista para persona jurídica</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Declaración jurada para persona natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Requisitos Apertura cuenta a inversores Persona Natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Requisitos Apertura cuenta a inversores persona jurídica</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Planilla de inversionista para persona natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Planilla de inversionista para persona jurídica</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Declaración jurada para persona natural</p>
        </li>
        <li class="flex items-center py-1 cursor-pointer">
          <i class="material-icons text-primary-rendivalores mr-2">check</i>
          <p class="text-gray-500 hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">Declaración jurada para persona natural</p>
        </li>
      </ul>
    </div>
    <div class="sm:w-1/2 p-4">
      <div><img src="./assets/images/forms.svg" alt=""></div>
    </div>
  </div>

</div>
