<div class="mt-20">
  <img alt="image about Rendivalores progress" src="assets/images/roadmap.png">
</div>
<div class="xl:my-20 my-10">
  <h1 class="text-3xl text-center font-bold text-primary-rendivalores">
    Junta Directiva
  </h1>
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center text-primary-rendivalores">
   Período 2025 - 2027
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6 mx-auto mt-10 h-full w-11/12 xl:w-10/12 px-2 sm:px-0">
    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-auto w-full p-4">
      <div class="mb-10 pt-4 mx-4">
        <p class="text-white text-lg font-bold">Juan Domingo Cordero Osorio</p>
        <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
        <p class="text-sm text-white mt-4">
          Abogado (UCAB) 2014, con especializaciones en Derecho Corporativo (UNIMET) 2015, Derecho Mercantil (UCAB) 2021 y Maestría en Administración (MBA - IESA) 2024. Corredor Público de Títulos Valores, Corredor de Bolsa de Productos Agrícolas y Asesor de Inversión autorizado por la SUNAVAL. Corredor de Seguros autorizado por la SUDEASEG. Director Suplente Junta Directiva Asociación Nacional Operadores de Valores (Periodo 2019-2021) Vicepresidente de la Camara Nacional de Intermediarios del Mercado de Valores CANIMEV (Periodo 2021-2023). Presidente de CANIMEV (Periodo 2023 - 2025). Director Suplente Junta Directiva Bolsa de Productos e Insumos Agropecuarios de Venezuela C.A. BOLPRIAVEN (Periodo 2023-2025). Presidente de Rendivalores Fondo Mutual de Capital Abierto C.A. y Presidente de Rendivalores Casa de Bolsa C.A. jdcorderoo&#64;rendivalores.com
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-[25px] opacity-100 backdrop-blur-lg h-auto w-full p-4">
      <div class="mb-10  pt-4 mx-4">
        <p class="text-white text-lg font-bold">Simón Cordero</p>
        <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
        <p class="text-sm text-white mt-4">
          Licenciado en Administración de Empresa mención Finanzas egresado de Pace University en la ciudad de Nueva York, Estados Unidos. Corredor Público de Valores y Vicepresidente de Negocios de Rendivalores Casa de Bolsa, C.A desde el 2014.
          Vicepresidente de Rendivalores Casa de Bolsa y Presidente de la Junta Directiva de Grupo Rendivalores.
          scordero&#64;rendivalores.com
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-80 w-full p-4">
      <div class="mb-10  pt-4 mx-4">
        <p class="text-white text-lg font-bold">Oscar Doval</p>
        <p class="text-white border-b-4 border-white pb-2">Director Principal</p>
        <p class="text-sm text-white mt-4">
          Médico Psiquiatra con especialización en desarrollo de organizaciones de la Universidad de Chicago. Experto en consultoría financiera estratégica y de gobierno corporativo. Ha participado en formación, desarrollo y fusiones de empresas en América Latina y Europa. Experiencia corporativa en banca y finanzas y consultoría por más de 30 años.
          Presidente de Rendivalores Casa de Bolsa de Productos Agricolas.
          odoval&#64;mooregsf.com
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-80 w-full p-4">
      <div class="mb-10  pt-4 mx-4">
        <p class="text-white text-lg font-bold">Dayana Tazón</p>
        <p class="text-white border-b-4 border-white pb-2">Director Suplente</p>
        <p class="text-sm text-white mt-4">
          Licenciada en Contaduría Pública egresada de la Universidad Alejandro Humboldt, cuenta con más de 15 años de experiencia en las áreas de Administración, Contabilidad, Recursos Humanos y Tesorería.
          Gerente General y Director suplente de Rendivalores Casa de Bolsa, C.A.
          dtazon&#64;rendivalores.com
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-[25px] opacity-100 backdrop-blur-lg h-80 w-full p-4">
      <div class="mb-10  pt-4 mx-4">
        <p class="text-white text-lg font-bold">Guillermo Leandro Guevara</p>
        <p class="text-white border-b-4 border-white pb-2">Director Suplente</p>
        <p class="text-sm text-white mt-4">
          Ingeniero Industrial en Texas A&M University con reválida en la universidad de Carabobo. Master en ciencias industriales en la Universidad de Houston.
          Vicepresidente técnico del Fondo de Valores Inmobiliario hasta el 2015. Actual director de Equipos e Inversiones LEANPA, C.A.
          Gleandro&#64;mooregsf.com
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-[25px] opacity-100 backdrop-blur h-80 w-full p-4">
      <div class="mb-10  pt-4 mx-4">
        <p class="text-white text-lg font-bold">Nahirobis Rivas</p>
        <p class="text-white border-b-4 border-white pb-2">Director Suplente</p>
        <p class="text-sm text-white mt-4">
          Licenciada en Administracion Comercial. Con aptitudes en el asesoramiento en Banca y Finanzas local como Internacional, Prevención y Legitimación de Capitales y Financiamiento al Terrorismo, Seguridad de Activos de Información y Notificación al riesgo laboral.
          Analista de crédito y Ejecutivo de cuentas. Con una amplia formación Bancaria.
          nrivas&#64;rendivalores.com
        </p>
      </div>
    </div>
  </div>
</div>
