<div class="mt-20 pb-20 ">
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores">
    Acerca de Rendivalores
  </h1>
  <div class="mt-10 w-10/12 mx-auto text-justify">
    <p class="text-gray-500">Rendivalores Casa de Bolsa C.A. (“Rendivalores”) cuenta con mas de 29 años de trayectoria exitosa en el Mercado de Valores Venezolano. Nuestro objetivo principal es ofrecer a nuestros clientes una gama diversificada de productos y servicios financieros de acuerdo a sus necesidades de financiamiento o inversión.

      Fundada en 1995, contamos con amplia experiencia dentro del Mercado de Valores Venezolano. Somos un equipo joven y multidisciplinario que estudia, entiende y se adapta al entorno económico local e internacional para dar el mejor servicio al cliente.

    </p>

    <p class="text-gray-500 mt-5">
      Rendivalores es miembro No. 64 de la Bolsa de Valores de Caracas y miembro de la Bolsa Publica de Valores Bicentenario, y de conformidad con el Decreto con Rango, Valor y Fuerza de Ley de Mercado de Valores, publicado en Gaceta Oficial No. 6.211 Extraordinario, de fecha 30 de diciembre de 2015, es una Casa de Bolsa Universal según su actual índice patrimonial, lo cual nos permite ofrecer todos los productos y servicios contemplados en la Ley de Mercado de Valores y avalados por la Superintendencia Nacional de Valores (“SUNAVAL”).

    </p>

    <p class="text-gray-500 mt-5">
      En Rendivalores promovemos el Mercado de Valores Venezolano como motor de financiamiento para las empresas Venezolanas. Somos pioneros en la promoción de la Cultura Bursátil en Venezuela y es una meta de Rendivalores masificar la participación activa de todos los venezolanos en el Mercado de Valores.

    </p>

    <p class="text-gray-500 mt-5">
      Nuestra cartera de clientes es muy diversificada, contamos con personas naturales (pequeños inversionistas), pequeñas y medianas empresas (PYMES), Cajas de Ahorro, Fondos de Pensión, Fideicomisos Bancarios, Compañías de Seguros y grandes Corporaciones bien sea del Sector Publico o Privado.
    </p>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center gap-4 mx-auto mt-10 w-7/12">
    <div class="flex flex-col justify-center xl:justify-self-end items-center bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-lg opacity-100 backdrop-blur h-40 w-full">
      <mat-icon class="text-white mb-2 icon-large">account_balance</mat-icon>
      <p class="text-white text-center px-2">Rendivalores <br> Casa de Bolsa C.A.</p>
    </div>

    <div
      class="flex flex-col justify-center items-center xl:justify-self-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">agriculture</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Casa de Bolsa <br> de Productos Agrícolas C.A.</p>
    </div>

    <div class="flex flex-col justify-center xl:justify-self-end items-center bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">groups</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Fondo Mutual de Inversión de Capital Abierto C.A.</p>
    </div>

    <div class="flex flex-col justify-center items-center xl:justify-self-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">savings</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Fondo Mutual de Inversión de Capital Cerrado C.A.</p>
    </div>
  </div>

</div>


