<div class="mt-0 mb-10 w-full md:w-10/12 mx-auto">
  <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores">
    Estamos conformados por cuatro unidades de negocios:
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center gap-4 mx-auto mt-10 w-7/12">
    <div class="flex flex-col justify-center xl:justify-self-end items-center bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-lg opacity-100 backdrop-blur h-40 w-full">
      <mat-icon class="text-white mb-2 icon-large">account_balance</mat-icon>
      <p class="text-white text-center px-2">Rendivalores <br> Casa de Bolsa C.A.</p>
    </div>

    <div
      class="flex flex-col justify-center items-center xl:justify-self-start bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">agriculture</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Casa de Bolsa <br> de Productos Agrícolas C.A.</p>
    </div>

    <div class="flex flex-col justify-center xl:justify-self-end items-center bg-gradient-to-b from-gradient-blue-start to-gradient-blue-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">groups</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Fondo Mutual de Inversión de Capital Abierto C.A.</p>
    </div>

    <div class="flex flex-col justify-center items-center xl:justify-self-start bg-gradient-to-b from-gradient-green-start to-gradient-green-end shadow-md rounded-lg opacity-100 backdrop-blur-lg h-40 w-full">
      <mat-icon class="text-white text-xl mb-2 icon-large">savings</mat-icon>
      <p class="text-white text-center px-2">Rendivalores Fondo Mutual de Inversión de Capital Cerrado C.A.</p>
    </div>
  </div>
</div>

<div class="bg-gradient-to-bl from-gradient-blue-start to-gradient-blue-end px-4 sm:px-14 py-10 h-auto sm:p-0 lg:p-20">
  <div class="hw-full md:w-10/12 mx-auto">
    <p class="text-white sm:mt-10 text-sm sm:text-base text-justify">
      En Rendivalores promovemos el Mercado de Valores Venezolano como motor de financiamiento para las empresas venezolanas. 
      Somos pioneros en la promoción de la Cultura Bursátil en Venezuela y es una meta de Rendivalores masificar la participación activa de todos los venezolanos en el Mercado de Valores.
    </p>
  
    <div class="flex flex-col sm:flex-row justify-between items-center mt-8 space-y-4 sm:space-y-0">
      <!-- Contenedor de texto alineado a la izquierda -->
      <p class="text-left text-white text-lg sm:text-xl font-semibold">
        ¡Para más información de Rendivalores Fondo Mutual te invitamos a descargar el siguiente PDF!
      </p>
      
      <!-- Botón alineado a la derecha -->
      <button class="w-auto sm:w-48 px-4 py-2 border-2 border-white text-white rounded-full hover:bg-secondary-rendivalores transition-colors ml-2">
        <a href="/">Descargar</a> 
      </button>
    </div>
  </div>
</div>

<div class="bg-gradient-to-bl from-gradient-green-start to-gradient-green-end px-4 sm:px-14 py-10 h-auto">
  <div class="mt-10 mb-10 w-full md:w-10/12 mx-auto">
    <div class="flex flex-col sm:flex-row justify-between items-center mt-8 space-y-4 sm:space-y-0">
      <!-- Contenedor de texto alineado a la izquierda -->
      <p class="text-left text-white text-lg sm:text-xl font-semibold">
        ¿Quieres empezar a invertir en la Bolsa de Valores a través de nuestro Fondo Mutual?
      </p>
      
      <!-- Botones alineados a la derecha -->
      <div class="flex space-x-4 mt-4 sm:mt-0">
        <button class="w-full sm:w-48 px-4 py-2 border-2 border-white text-white rounded-full hover:bg-secondary-rendivalores transition-colors ml-2">
          <a href="/">Persona Natural</a>
        </button>
        <button class="w-full sm:w-48 px-4 py-2 border-2 border-white text-white rounded-full hover:bg-secondary-rendivalores transition-colors ml-2">
          <a href="/">Persona Jurídica</a>
        </button>
      </div>
    </div>
  </div>
</div>