<div class="mt-10 mb-10 w-full md:w-10/12 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8 md:gap-10 p-2 md:p-0 items-center justify-items-center">

    <div class="relative mx-auto sm:w-auto px-4 py-2">
      <img class="rounded-xl shadow-xl border-2 border-primary-rendivalores scale-75" src="assets/images/FM-cerrado-2.png" alt="">
    </div>

      <div class="relative p-2 md:p-4 rounded-[25px] text-justify">
        <h1
          class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl font-bold text-primary-rendivalores"
        >
            ¿Qué es un Fondo Mutual Cerrado?
        </h1>
        <p class="text-sm md:text-sm mt-5 text-gray-500">
            <b>Un fondo mutual cerrado</b> es un tipo de fondo de inversión que, a diferencia
            de los fondos mutuales abiertos, emite un número limitado de acciones cuando se
            crea y no realiza emisiones adicionales ni recompras. Las acciones de un fondo
            mutual cerrado se negocian en una bolsa de valores, como si fueran acciones
            ordinarias, y su precio se determina por las fuerzas de la oferta y la demanda.
        </p>
        <p class="text-sm md:text-sm mt-5 text-gray-500">
          <b>Pueden Invertir:</b>
        </p>

        <p class="flex items-center mt-2 text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Personas Naturales</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Los Corredores Públicos de Valores o Asesores de Inversión</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Las Casas de Bolsa y Sociedades de Corretaje</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Los Bancos e Instituciones Financieras, Nacionales o Extranjeras</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Las Empresas de Seguros y Reaseguros</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Las Cajas de Ahorro, de acuerdo a la normativa que las regula</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Empresas del Estado y demás personas jurídicas de derecho público</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Otras Repúblicas Soberanas y sus respectivos Bancos Centrales</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Bolsas de Valores y Cámaras de Compensación</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Las Sociedades de Capital de Riesgo</span>
        </p>
        <p class="flex items-center text-sm md:text-sm mb-1">
          <mat-icon class="text-primary-rendivalores hover:text-gray-700 text-xs">circle</mat-icon>
          <span class="text-gray-500">Los Entes regidos por la Ley de Entidades de Inversión Colectiva</span>
        </p>
      </div>
  </div>
</div>
