<div class="relative bg-gradient-to-bl from-gradient-blue-start to-gradient-blue-end p-14">
  <div class="flex flex-col sm:flex-row justify-center xl:items-baseline space-y-6 sm:space-y-0 sm:space-x-6">
    <div class="xl:w-4/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 h-auto">
      <p class="underline underline-offset-8 decoration-white text-white text-xl text-center font-bold mb-5">
        Información Financiera
      </p>


      <div id="accordion-collapse-financial" data-accordion="collapse" class="mt-10">
        <h2 id="accordion-collapse-financial-heading-1">
          <button type="button" class="bg-secondary-rendivalores flex items-center justify-between w-full p-2 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-full" data-accordion-target="#accordion-collapse-financial-body-1" aria-expanded="true" aria-controls="accordion-collapse-financial-body-1">
            <span class="flex items-center ml-2"> <mat-icon class="mr-2">account_balance</mat-icon> Año 2024 </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>

        <div id="accordion-collapse-financial-body-1" class="hidden m-2" aria-labelledby="accordion-collapse-financial-heading-1">
          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos Fondo Mutual Cerrado septiembre, 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-09-2024.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos Fondo Mutual Abierto septiembre, 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-09-2024-FMA.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Agosto 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-08-2024.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Julio 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Julio-24.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Junio 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-Junio-2024.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Mayo 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-Mayo-2024.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Febrero 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Febrero-24.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Abril 2024</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-Abril-2024.pdf">Descargar</a></button>
          </p>
        </div>


        <h2 id="accordion-collapse-financial-heading-2" class="mt-2">
          <button type="button" class="bg-secondary-rendivalores flex items-center justify-between w-full p-2 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-full" data-accordion-target="#accordion-collapse-financial-body-2" aria-expanded="true" aria-controls="accordion-collapse-financial-body-2">
            <span class="flex items-center ml-2"> <mat-icon class="mr-2">account_balance</mat-icon> Año 2023 </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>

        <div id="accordion-collapse-financial-body-2" class="hidden m-2" aria-labelledby="accordion-collapse-financial-heading-2">
          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos agosto, 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Agosto-2023.pdf">Descargar</a></button>
          </p>



          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos Diciembre, 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Diciembre-23.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Septiembre 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-09-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Julio 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Julio-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Junio 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Junio-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Enero 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-01-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Febrero 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/EEFF-02-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Marzo 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/Marzo-2023.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Estado de Activos y Pasivos, Abril 2023</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/FM-Estados-Activos-Pasivos-Abril.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Brochure Corporativo</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/brochure-FM-2022.pdf">Descargar</a></button>
          </p>

          <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
            <span class="text-center xl:text-left max-w-72">Fondo Mutual de Capital Cerrado</span>
            <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0"><a target="_blank" href="assets/pdfs/Financiero/RENDIVALORES-Fondo-CERRADO-def-21032022.pdf">Descargar</a></button>
          </p>
        </div>
      </div>


      <!-- <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 mt-10">
        <span class="text-left max-w-72">Estado de Activos y Pasivos, Abril 2024</span>
        <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0">Descargar</button>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-left max-w-72">Estado de Activos y Pasivos, Abril 2023</span>
        <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0">Descargar</button>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3">
        <span class="text-left max-w-72">Estado Activos Julio, 2023</span>
        <button class="w-36 sm:w-32 px-4 py-1 border-2 border-white bg-none rounded-full hover:bg-secondary-rendivalores mt-2 sm:mt-0">Descargar</button>
      </p> -->
    </div>

    <!-- Cotización -->
    <div class="xl:w-4/12 w-11/12 bg-white/40 backdrop-blur-[100px] relative rounded-2xl bg-opacity-95 p-6 h-auto ">
      <p class="underline underline-offset-8 decoration-white text-white text-xl text-center font-bold">
        Cotización Diaria Valor Unidad de Inversión (V.U.I)
      </p>

      <p class="text-center my-9 text-white font-bold text-4xl ">2,7384</p>

      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 border-b border-b-white">
        <span class="text-center">Fecha</span>
        <span class="text-center">21/01/2025</span>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 border-b border-b-white">
        <span class="text-center">Comparativo</span>
        <span class="text-center">INDICE BOLSA VALORES DE CARACAS</span>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 border-b border-b-white">
        <span class="text-center">Sector de inversión</span>
        <span class="text-center">BVC</span>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 border-b border-b-white">
        <span class="text-center">Pricing</span>
        <span class="text-center">14:00 DIARIO</span>
      </p>
      <p class="flex flex-col sm:flex-row items-center justify-between text-white mb-3 border-b border-b-white">
        <span class="text-center">Inversión mínima</span>
        <span class="text-center">1 UNIDAD DE INVERSIÓN</span>
      </p>
    </div>
  </div>
</div>
