<div class="px-4  text-justify">
  <h1 class="decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores mt-10">
    PREVENCION Y CONTROL CONTRA LA LEGITIMACIÓN DE CAPITALES Y <br> FINACIAMIENTO AL TERRORISMO
  </h1>
  <p class="text-gray-500 text-center mt-5 mb-5">
    La legitimación de capitales es un delito grave, propio de los grupos de la delincuencia organizada, para esconder o disfrazar el origen, <br>
    movimiento y destino del dinero obtenido de diversas actividades ilícitas.
  </p>
</div>


<div class="flex items-center justify-center mb-10">
  <a href="assets/pdfs/Documento-Prevención-Rendivalores.pdf" target="_blank">
  <button type="button" class="px-5 py-2.5 text-sm font-medium text-white bg-primary-rendivalores hover:bg-primary-hover rounded-lg text-center">Saber Más</button>
    </a>
</div>
