<div class="p-10 bg-gradient-to-t from-gradient-green-end to-gradient-green-start mt-20">
    <div class="mt-10 mb-10 w-full md:w-10/12 mx-auto text-justify">
        <!-- Título -->
        <h1 class="underline underline-offset-8 decoration-white text-2xl sm:text-3xl font-bold text-white text-center">
            ¿Qué operaciones hacemos?
        </h1>
        <!-- Lista derecha: Mercado físico -->
        <div>
            <p class="mt-6 font-semibold text-sm md:text-base text-white">Mercado Físico</p>
            <ul class="mt-2 space-y-2 text-sm md:text-base text-white">

              <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
                <i class="material-icons text-white mr-1">check</i>
                <p class="text-white hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">  <b>Disponible para Entrega Inmediata (DEI):</b> Operación de compra - venta que se encuentra físicamente en poder del mandante vendedor.
                </p>
              </li>

              <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
                <i class="material-icons text-white mr-1">check</i>
                <p class="text-white hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">  <b>Disponible para Entrega a Plazo (DEP):</b> Es una operación de compra - venta de un producto o bien que se encuentra físicamente en poder del vendedor, y que deberá ser entregado y liquidado dentro de un período de tiempo.
                </p>
              </li>

              <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
                <i class="material-icons text-white mr-1">check</i>
                <p class="text-white hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">   <b>Disponible para Entrega Futura (EF):</b> Es una operación de compra - venta de un producto o bien que no se encuentra físicamente en poder del vendedor al momento de registrarse el contrato.
                </p>
              </li>

              <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
                <i class="material-icons text-white mr-1">check</i>
                <p class="text-white hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">    <b>Entrega Anticipada (EA):</b> Nuestro producto más solicitado. Es una operación correspondiente al mercado de físico en que el producto se ha entregado con anterioridad a la Rueda de Negocios de Bolpriaven en que se registra dicha operación y en que los mandantes deseen efectuar el pago correspondiente a través de la Bolsa Agrícola.
                </p>
              </li>
            </ul>
        </div>

        <!-- Lista izquierda: Mercado Financiero -->
        <div>
            <p class="mt-6 font-semibold text-sm md:text-base text-white">Mercado Financiero</p>
            <ul class="mt-2 space-y-2 text-sm md:text-base text-white">
              <li class="flex items-center py-1 cursor-pointer hover:cursor-pointer">
                <i class="material-icons text-white mr-1">check</i>
                <p class="text-white hover:underline underline-offset-4 decoration-primary-rendivalores hover:text-primary-hover">     <b>Compra Venta de Bono de Prenda:</b> La Compra - Venta del Bono de Prenda de productos o insumos de origen o destino agrícola, es un contrato mediante el cual un Puesto de Bolsa Vendedor, en representación de su mandante, enajena un Bono de Prenda a un Puesto de Bolsa Comprador. Los Bonos de Prenda son documentos financieros que son expedidos por un Almacén General de Depósito, de conformidad con las disposiciones legales vigentes que regulan la materia.
                </p>
              </li>
            </ul>
        </div>

    </div>
</div>
