<div class="custom-gradient h-auto pb-10">
  <div class=" flex flex-col sm:flex-row justify-center items-center xl:items-baseline space-y-6 sm:space-y-0 sm:space-x-6">
    <div class="xl:w-5/12 w-11/12 bg-gray-200 relative bottom-6 rounded-2xl bg-opacity-95 p-6 h-auto xl:h-72 text-justify">
      <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores">
        Mision
      </h1>
      <p class="text-gray-500 mt-5 text-sm">
        Brindar a nuestros clientes una amplia variedad de productos y servicios de alta calidad diseñados a su medida de acuerdo a sus necesidades de inversión o financiamiento. Tenemos una presencia importante en el Mercado de Valores Venezolano, a través de nuestras plataformas tecnológicas atendemos a nuestros clientes en toda Venezuela. Entendemos el entorno económico venezolano, y nos adaptamos de manera constante para ofrecer nuestro servicio de calidad superior.
      </p>
    </div>

    <div class="xl:w-5/12 w-11/12 bg-gray-200 relative bottom-6 rounded-2xl bg-opacity-95 p-6 h-auto xl:h-72 text-justify">
      <h1 class="underline underline-offset-8 decoration-secondary-rendivalores text-3xl text-center font-bold text-primary-rendivalores">
        Vision
      </h1>
      <p class="text-gray-500 mt-5 text-sm">
        Consolidarse como Casa de Bolsa Líder y de Referencia en el Mercado de Valores Venezolano, con el propósito de masificar la participación de todos los venezolanos en el Mercado de Valores a través de la incansable promoción de la Cultura Bursátil en nuestro país.
      </p>
    </div>
  </div>

  <h1 class="underline underline-offset-8 decoration-white text-3xl text-center font-bold text-white my-10">
    Valores
  </h1>

  <div class="flex flex-col sm:flex-row justify-center items-center xl:items-baseline space-y-6 sm:space-y-0 sm:space-x-6 mt-10">
    <div class="xl:w-2/12 w-11/12 bg-gray-200 relative rounded-2xl bg-opacity-95 p-6 xl:h-96 h-auto">
      <img class="h-20 mx-auto mb-2" src="./assets/icons/icon_08.svg" alt="passion attribute icon">
      <p class="text-gray-500 text-base text-center font-bold">
        Pasión
      </p>
      <p class="text-gray-500 mt-2 text-sm text-justify">
        Trabajamos con gran entusiasmo por lograr nuestros objetivos y que nuestros clientes siempre obtengan un servicio de calidad inigualable.
      </p>
    </div>

    <div class="xl:w-2/12 w-11/12 bg-gray-200 relative rounded-2xl bg-opacity-95 p-6 xl:h-96 h-auto">
      <img class="h-20 mx-auto mb-2" src="./assets/icons/icon_09.svg" alt="passion attribute icon">
      <p class="text-gray-500 text-base text-center font-bold">
        Confianza
      </p>
      <p class="text-gray-500 mt-2 text-sm text-justify">
        La relación entre nosotros y nuestros clientes se caracteriza principalmente por la confianza generada y demostrada de manera reciproca, son relaciones que pasan de ser laborales a amistades.
      </p>
    </div>
    <div class="xl:w-2/12 w-11/12 bg-gray-200 relative rounded-2xl bg-opacity-95 p-6 xl:h-96 h-auto">
      <img class="h-20 mx-auto mb-2" src="./assets/icons/icon_10.svg" alt="passion attribute icon">
      <p class="text-gray-500 text-base text-center font-bold">
        Trabajo en Equipo
      </p>
      <p class="text-gray-500 mt-2 text-sm text-justify">
        Nuestro capital humano es nuestro activo mas valioso y cada uno tiene una participación transcendental en la cadena de valor de nuestros productos y servicios.
      </p>
    </div>
    <div class="xl:w-2/12 w-11/12 bg-gray-200 relative rounded-2xl bg-opacity-95 p-6 xl:h-96 h-auto">
      <img class="h-20 mx-auto mb-2" src="./assets/icons/icon_11.svg" alt="passion attribute icon">
      <p class="text-gray-500 text-base text-center font-bold">
        Calidad
      </p>
      <p class="text-gray-500 mt-2 text-sm text-justify">
        Nos esforzamos por darle a nuestros clientes una atención a la medida de sus necesidades, reforzada por resultados positivos constantes.
      </p>
    </div>
    <div class="xl:w-2/12 w-11/12 bg-gray-200 relative rounded-2xl bg-opacity-95 p-6 xl:h-96 h-auto">
      <img class="h-20 mx-auto mb-2" src="./assets/icons/icon_12.svg" alt="passion attribute icon">
      <p class="text-gray-500 text-base text-center font-bold">
        Transparencia
      </p>
      <p class="text-gray-500 mt-2 text-sm text-justify">
        Característica sobresaliente en las relaciones con nuestros clientes, rendimos cuenta de manera precisa y transparente con la finalidad de mantener al cliente al tanto de los resultados obtenidos de acuerdo a los objetivos establecidos.
      </p>
    </div>
  </div>
</div>
